<%-include('base')%>
<%if(user_id){%>
<form method="POST" action="query">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
      
    </div>
    <div class="mb-3">
      <label for="contact" class="form-label">Contact Number</label>
      <input type="text" class="form-control" name="password" id="contact" required>
    </div>

    <div class="mb-3">
        
        <input type="text" class="form-control" name="query_item" id="query_item" value="<%=query%>" required/>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <%}else{%>

    <strong>Login First</strong>

<%}%>